*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: calibri;

}
header{
/*	height: 100px;*/
	width: 100%;
	background: linear-gradient(90deg,grey,lightgrey,grey);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu{
	height: 70px;
	width: 100%;
	background: #393e5c;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu a{
	color: whitesmoke;
	margin-right: 10px;
	padding: 10px;
	font-size: 20px;
	text-decoration: none;
	background: #868e9e;
	border: 1px solid #bec4e8;
	border-radius: 25px;
	text-align: center;
}
.h_home{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #4d5b73;
	height: 80px;
	width: 100%;
	font-size: 50px;
	color: #bccae0;
	border: 2px solid #b3b3b3;
}
.home{
	display: flex;
	background: lightblue;
}
.home .p1,.p2,.p3{
	background: #b5c8e6;
	border: 5px solid #5d9995;
	width: 33%;
	margin: 30px;
	padding: 10px 10px;
	border-radius: 30px;
	font-size: 20px;
	color: #3a475c;
}
.products{
	display: flex;
/*	height: auto;*/
	background: skyblue;
	padding-bottom: 30px;
}
.products .i1,.i2,.i3,.i4{
	height: auto;
	width: 25%;
	border: 2px solid #393e5c;
	margin: 10px 5px;
	border-radius: 50%;
	box-shadow: 0 0 30px black;
	text-align: center;
}
.products .m1{
	margin-left: 10px;
}
.products .m4{
	margin-right: 10px;
}
.products img{
	border-radius: 50%;
	object-fit: cover;
/*	margin-bottom: 10px;*/
}
.products a{
	text-decoration: none;
}

.wish{
	height: 300px;
	width: 300px;
	background: url(shoes.jpg);
	background-size: contain;
}